<template>
  <div class="personal-wrapper" v-if="originalInfo.user&&originalInfo.user.id">
    <PublicNav title="个人资料"></PublicNav>
    <div class="content">
      <div class="personal-header">
        <img :src="require('@/assets/image/bgPic2.png')" alt class="img" />
        <div class="info-img">
          <button slot="trigger" class="upload-head">
            <van-image round class="avatar" :src="(originalInfo.user&&originalInfo.user.headImg)" />
            <img src="../assets/image/zhaopian.png" alt class="upload-head-icon" />
          </button>
          <div v-if="!showEditorName" class="info-img-font" @click="showEditorName=true">
            {{originalInfo.user.name||'未命名用户'}}
            <i class="iconfont icon-bianji"></i>
          </div>
          <div v-else class="editor-div">
            <van-field v-model="changedUserInfo.name" placeholder />
            <div>
              <van-button @click="showEditorName=false">取消</van-button>
              <van-button type="primary" @click="handleChangeBasicInfo">确定</van-button>
            </div>
          </div>

          <div v-if="!showEditorIntroduction" @click="showEditorIntroduction=true">
            {{originalInfo.userExtension.introduction||'一句话介绍自己'}}
            <i class="iconfont icon-bianji"></i>
          </div>
          <div v-else class="editor-div">
            <van-field v-model="changedUserExtensionInfo.introduction" placeholder />
            <div>
              <van-button @click="showEditorIntroduction=false">取消</van-button>
              <van-button type="primary" @click="handleChangeBasicInfo">确定</van-button>
            </div>
          </div>
        </div>
      </div>
      <div class="info-wrapper">
        <div class="info-title">基本资料</div>
        <div class="info-basic">
          <div style="display: flex;justify-content: space-between">
            <div>
              <span class="info-left">姓名</span>
              <span class="info-right" v-if="!showEditorBasic">{{originalInfo.user.name}}</span>
              <van-field v-else v-model="changedUserInfo.name" placeholder class="info-input" />
            </div>
            <van-button class="button" @click="showEditorBasic=true">编辑资料</van-button>
          </div>
          <div>
            <span class="info-left">{{isTeacher?"教工号":"学号"}}</span>
            <span class="info-right" v-if="!showEditorBasic">{{originalInfo.userExtension.sno}}</span>
            <van-field
              v-else
              v-model="changedUserExtensionInfo.sno"
              placeholder
              class="info-input"
            />
          </div>
          <div>
            <span class="info-left">学校</span>
            <span class="info-right">{{originalInfo.userExtension.school}}</span>
          </div>
          <div v-if="!isTeacher">
            <span class="info-left">学年</span>
            <span class="info-right" v-if="!showEditorBasic">{{originalInfo.userExtension.grade}}</span>
            <van-field
              v-else
              readonly
              clickable
              :value="changedUserExtensionInfo.grade"
              placeholder="选择学年"
              class="info-input"
              @click="showGradePicker = true"
            />
            <van-popup v-model="showGradePicker" round position="bottom">
              <van-picker
                value-key="label"
                show-toolbar
                :columns="gradeOptions"
                @cancel="showGradePicker = false"
                @confirm="handleConfirmGrade"
              />
            </van-popup>
          </div>
          <div>
            <span class="info-left">院系</span>
            <span class="info-right" v-if="!showEditorBasic">{{originalInfo.userExtension.college}}</span>
            <van-field
              v-else
              readonly
              clickable
              :value="changedUserExtensionInfo.college"
              placeholder="选择院系"
              class="info-input"
              @click="showCollegeIdPicker = true"
            />
            <van-popup v-model="showCollegeIdPicker" round position="bottom">
              <van-picker
                show-toolbar
                value-key="name"
                :columns="collegeOptions"
                @cancel="showCollegeIdPicker = false"
                @confirm="handleConfirmCollegeId"
              />
            </van-popup>
          </div>
          <div v-if="!isTeacher">
            <span class="info-left">专业</span>
            <span
              class="info-right"
              v-if="!showEditorBasic"
            >{{originalInfo.userExtension.profession}}</span>
            <van-field
              v-else
              readonly
              clickable
              :value="changedUserExtensionInfo.profession"
              placeholder="选择专业"
              class="info-input"
              @click="showProfessionPicker = true"
            />
            <van-popup v-model="showProfessionPicker" round position="bottom">
              <van-picker
                show-toolbar
                value-key="name"
                :columns="professionOptions"
                @cancel="showProfessionPicker = false"
                @confirm="handleConfirmProfession"
              />
            </van-popup>
          </div>
          <div v-if="showEditorBasic" class="basic-but">
            <van-button @click="showEditorBasic=false">取消</van-button>
            <van-button type="primary" @click="handleChangeBasicInfo">保存</van-button>
          </div>
        </div>
        <div class="info-title">账号</div>
        <div class="info-account">
          <div v-if="!showEditorAccount">
            <span class="info-left">手机</span>
            <span class="info-right">{{originalInfo.user.phone}}</span>
          </div>
          <div v-else class="editor-phone-div">
            <van-field v-model="changePhone" placeholder="请输入新手机号" />
            <div class="code-div">
              <van-field v-model="phoneCaptcha" placeholder="验证码" class="code-input" />
              <van-button ref="code" class="code-but" @click="getPhoneCodeLogged">获取验证码</van-button>
            </div>
            <div class="basic-but">
              <van-button @click="showEditorAccount=false">取消</van-button>
              <van-button type="primary" @click="handleChangePhone">保存</van-button>
            </div>
          </div>
          <van-button class="button" @click="showEditorAccount=true">修改</van-button>
        </div>
      </div>
      <van-button type="primary" class="logout-but" @click="$store.dispatch('user/logout')">退出登录</van-button>
    </div>
  </div>
</template>

<script>
import PublicNav from "@/components/navigation/PublicNav.vue";
import {
  getInfo,
  modificationInfo,
  getCollegeList,
  getProfessionList,
  phoneCode,
  changePhone
} from "@/api/user";
import moment from "moment";

export default {
  name: "",
  data() {
    return {
      roles: this.$store.getters.roles,
      originalInfo: {},
      changedUserInfo: {},
      changedUserExtensionInfo: {},
      showEditorName: false,
      showEditorIntroduction: false,
      showEditorBasic: false,
      showEditorAccount: false,
      showGradePicker: false,
      showCollegeIdPicker: false,
      showProfessionPicker: false,
      gradeOptions: [],
      collegeOptions: [],
      professionOptions: [],
      phoneCaptcha: null,
      changePhone: ""
    };
  },
  components: { PublicNav },
  computed: {
    isTeacher() {
      return this.roles.indexOf(this.global.role_teacher) !== -1;
    }
  },
  mounted() {
    this.autoGetInfo();
    this.getGradeList();
    this.getCollegeList();
  },
  methods: {
    autoGetInfo() {
      getInfo().then(res => {
        this.originalInfo = res.data;
        this.changedUserInfo = JSON.parse(JSON.stringify(res.data.user || {}));
        this.changedUserExtensionInfo = JSON.parse(
          JSON.stringify(res.data.userExtension || {})
        );
        this.changedUserExtensionInfo.collegeId &&
          this.getProfessionList(this.changedUserExtensionInfo.collegeId);
      });
    },
    handleChangeBasicInfo() {
      const { name } = this.changedUserInfo;
      const {
        collegeId,
        professionId,
        sno,
        grade,
        introduction
      } = this.changedUserExtensionInfo;

      if (this.roles.indexOf(this.global.role_student) !== -1) {
        if (!/^[0-9]*$/g.test(sno)) {
          this.$notify("学号只支持数字");
          return;
        }
        if (!name || !sno || !collegeId || !professionId || !grade) {
          this.$notify("请填写完整信息");
          return;
        }
      } else {
        if (!name || !collegeId) {
          this.$notify("请填写完整信息");
          return;
        }
      }

      let college, profession;
      this.collegeOptions.forEach(v => {
        if (v.id === this.changedUserExtensionInfo.collegeId) {
          college = v.name;
        }
      });
      this.professionOptions.forEach(v => {
        if (v.id === this.changedUserExtensionInfo.professionId) {
          profession = v.name;
        }
      });
      modificationInfo(
        { name },
        {
          collegeId,
          professionId,
          sno,
          college,
          profession,
          grade,
          introduction
        }
      ).then(res => {
        location.reload();
      });
    },
    handleChangePhone() {
      if (!this.phoneCaptcha) {
        this.$notify("请输入验证码");
        return;
      }
      changePhone({
        phone: this.changePhone,
        phoneCapcha: this.phoneCaptcha
      }).then(res => {
        location.reload();
      });
    },
    getGradeList() {
      const currentYear = moment().format("YYYY");
      const gradeOptions = Array.from({ length: 4 }, (x, index) => {
        const item = {};
        item.value = +currentYear - 3 + index;
        item.label = `${+currentYear - 3 + index}年`;
        return item;
      });
      this.gradeOptions = gradeOptions;
    },
    getCollegeList() {
      // 1 鲁东大学
      getCollegeList(1).then(res => (this.collegeOptions = res.data));
    },
    getProfessionList(collegeId) {
      getProfessionList(collegeId).then(
        res => (this.professionOptions = res.data)
      );
    },
    changeCollegeId(collegeId) {
      if (this.roles.indexOf(this.global.role_teacher) !== -1) {
        return;
      }
      this.changedUserExtensionInfo.professionId = null;
      this.changedUserExtensionInfo.profession = null;
      this.professionOptions = [];
      this.getProfessionList(collegeId);
    },
    getPhoneCodeLogged() {
      if (!this.changePhone) {
        this.$notify("请输入新手机号");
        return;
      }
      phoneCode(this.changePhone).then(res => (this.phoneCaptcha = res.data));
    },
    handleConfirmGrade(v, i) {
      this.changedUserExtensionInfo.grade = v.value;
      this.showGradePicker = false;
    },
    handleConfirmCollegeId(v, i) {
      this.changeCollegeId(v.id);
      this.changedUserExtensionInfo.collegeId = v.id;
      this.changedUserExtensionInfo.college = v.name;
      this.showCollegeIdPicker = false;
    },
    handleConfirmProfession(v, i) {
      this.changedUserExtensionInfo.professionId = v.id;
      this.changedUserExtensionInfo.profession = v.name;
      this.showProfessionPicker = false;
    }
  }
};
</script>

<style lang='scss' scoped>
.info-wrapper {
  padding: 58px 78px 30px;
}
.personal-wrapper {
  width: 100%;
  height: 100%;
  font-size: 30px;
  padding-top: 116px;
}
.personal-header {
  width: 100%;
  height: 350px;
  position: relative;
  color: #ffffff;
}
.img {
  height: 100%;
  width: 100%;
}
.info-img {
  position: absolute;
  width: 500px;
  top: 44px;
  left: calc(50vw - 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /deep/.el-upload {
    overflow: hidden;
  }
}
.avatar {
  width: 110px;
  height: 110px;
}
.info-img-font {
  font-size: 40px;
  margin: 15px 0 20px;
}
.upload-head {
  width: 110px;
  height: 110px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}
.upload-head-icon {
  width: 50px;
  opacity: 60%;
  transform: translate(0px, -71px);
}
.editor-div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  .van-field {
    padding: 3px;
    border-radius: 5px;
    /deep/input {
      width: 105px;
      height: 20px;
      text-align: center;
    }
  }
  button {
    margin-top: 5px;
    height: 40px;
  }
}
.icon-bianji {
  font-size: 30px;
}
.info-input {
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  /deep/input {
    width: 255px;
    height: 40px;
    text-align: center;
  }
}
.info-select {
  display: inline-block;
  width: 145px;
  height: 35px;
  margin-top: 10px;
  /deep/input {
    height: 35px;
  }
}
.info-title {
  font-size: 30px;
  color: #333;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  line-height: 1;
  font-weight: bold;
}
.info-left {
  min-width: 45px;
  line-height: 60px;
  color: #969696;
  display: inline-block;
}
.info-right {
  line-height: 60px;
  color: #595959;
}
.info-basic {
  margin: 10px 0 30px;
}
.info-account {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.button {
  height: 50px;
  padding: 5px 10px;
}
.basic-but {
  margin-top: 20px;
  .van-button {
    height: 30px;
    padding: 5px 10px;
    margin-right: 10px;
  }
}
.code-div {
  display: flex;
  margin-top: 10px;
}

.code-but {
  margin-left: 10px;
  width: 200px;
  height: 70px;
  font-size: 24px;
}
.editor-phone-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  .van-field {
    padding: 3px;
    border-radius: 5px;
    /deep/input {
      width: 105px;
      height: 25px;
    }
  }
}
.logout-but {
  width: 500px;
  margin: 30px auto;
  display: block;
}
.content {
  overflow: auto;
  height: 100%;
}
</style>