<template>
  <div v-loading="loading" class="auth-wrapper"></div>
</template>

<script>
export default {
  name: "",
  data() {
    return {
      loading: true,
      redirect: null,
      otherQuery: null,
      wxForm: {
        code: "",
        state: ""
      }
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        const { code, state, redirect } = query;
        if (query && code && state) {
          this.redirect = redirect;
          this.otherQuery = this.getOtherQuery(query);
          this.wxForm.code = code;
          this.wxForm.state = state;
          this.WxLogin();
        }
      },
      immediate: true
    }
  },
  methods: {
    // 微信登录
    WxLogin() {
      this.$store
        .dispatch("user/login", {
          ...this.wxForm,
          loginType: "wx"
        })
        .then(() => {
          this.$router.push({
            path: this.redirect || "/",
            query: this.otherQuery
          });
        });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect" && cur !== "code" && cur !== "state") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    }
  }
};
</script>

<style lang='scss' scoped>
.auth-wrapper {
  width: 100%;
  height: 200px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
