<template>
  <div class="wrapper">
    <img src="/" alt class="logo" />
    <div class="roles-warpper">
      <div class="title">
        <i class="el-icon-arrow-left" @click="goBack"></i>
        <span>您想以哪种身份登录</span>
      </div>
      <van-button type="primary" class="teacher-button" @click="chooseRole(0)">教&nbsp;师</van-button>
      <van-button class="admin-button" @click="chooseRole(1)">管理员</van-button>
    </div>
  </div>
</template>
<script>
export default {
  name: "",
  data() {
    return {
      redirect: null,
      otherQuery: null
    };
  },
  beforeRouteLeave(to, from, next) {
    if (to.path === "/login") {
      this.$store.dispatch("user/resetToken");
    }
    next();
  },

  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true
    }
  },
  components: {},
  methods: {
    goBack() {
      this.$store
        .dispatch("user/resetToken")
        .then(() => this.$router.push("/login"));
    },
    chooseRole(num) {
      this.$store.commit(
        "user/SET_ROLES",
        this.$store.getters.roles.slice(num, num + 1)
      );
      this.$router.push({
        path: this.redirect || "/",
        query: this.otherQuery
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    }
  }
};
</script>
   
<style lang='scss' scoped>
.wrapper {
  width: 100%;
  height: 100vh;
  background: url(/) no-repeat 100% / cover;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.logo {
  position: absolute;
  top: 15px;
  left: 70px;
}
.roles-warpper {
  width: 560px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  padding: 48px 65px;
  font-size: 26px;
  color: #333333;
  text-align: center;
  position: relative;
  > * {
    margin-bottom: 30px;
    width: 430px;
  }
}
.title {
  font-size: 24px;
  color: #333333;
}
.el-icon-arrow-left {
  position: absolute;
  top: 50px;
  left: 33px;
}
.admin-button {
  background-color: $header-color;
  color: white;
  margin-left: 0;
  font-size: 16px;
}
.teacher-button {
  font-size: 16px;
}
</style>
   