<template>
  <div class="home-wrapper">主页</div>
</template>

<script>
export default {
  name: "Homepage",
  data() {
    return {};
  }
};
</script>

<style lang='scss' scoped>
.home-wrapper {
  padding: 0 80px;
}
</style>
