<template>
  <div class="wrapper">
    <img src="@/assets/image/logo.png" alt class="logo" />
    <div class="login">
      <div class="type">
        <!-- <span :class="{'active-type':loginType==='idForm'}" @click="loginType='idForm'">账号登录</span>
        <div class="cut-off" />-->
        <span
          :class="{'active-type':loginType==='messageForm'}"
          @click="loginType='messageForm'"
        >短信登录</span>
        <div class="cut-off" />
        <span :class="{'active-type':loginType==='wx'}" @click="handleWxLogin">微信登录</span>
      </div>
      <!-- 账号登陆 -->
      <van-form ref="idForm" v-if="loginType==='idForm'">
        <van-field
          v-model="idForm.username"
          name="username"
          placeholder="邮箱/手机号"
          :rules="rules.username"
        />
        <van-field
          v-model="idForm.password"
          name="password"
          placeholder="密码"
          :rules="rules.password"
        />
        <van-button
          class="login-button"
          type="primary"
          :loading="loading"
          @click="handleLogin"
        >注册/登录</van-button>
      </van-form>
      <!-- 手机验证码登录 -->
      <van-form ref="messageForm" v-if="loginType==='messageForm'">
        <van-field
          v-model="messageForm.phone"
          name="phone"
          placeholder="手机号"
          :rules="rules.phone"
          class="base"
        />
        <van-field
          v-model="messageForm.phoneCaptcha"
          name="phoneCaptcha"
          center
          clearable
          placeholder="验证码"
          :rules="rules.phoneCaptcha"
           class="base"
        >
          <template #button v-if="loginType==='messageForm'">
            <van-button
              ref="code"
              size="small"
              type="primary"
              @click.stop="handlePhoneCode"
              :disabled="disabledGetCode"
              class="code-but"
            >发送验证码</van-button>
          </template>
        </van-field>
        <van-button
          class="login-button"
          type="primary"
          :loading="mesLoading"
          @click="handleMessageLogin"
        >注册/登录</van-button>
      </van-form>
      <!-- 微信登录 -->
      <div v-if="loginType==='wx'" id="login_container" class="wx-wrapper" />
    </div>
  </div>
</template>
<script>
import rules from "@/assets/js/utils/rules";
import { phoneCode, getWxInfo } from "@/api/user";

export default {
  name: "Login",
  data() {
    return {
      loading: false,
      mesLoading: false,
      disabledGetCode: false,
      codeText: "获取验证码",
      timeNum: 60,
      countDownTime: 60,
      timer: null,
      loginType: "messageForm",
      redirect: null,
      otherQuery: null,
      checkbox: false,
      rules,
      idForm: {
        username: "",
        password: ""
      },
      messageForm: {
        phone: null,
        phoneCaptcha: null
      },
      appInfo: {}
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true
    },
    loginType(newV, oldV) {
      if (oldV !== "wx") this.$refs[oldV].resetValidation();
    }
  },
  methods: {
    // 获取短信验证码
    handlePhoneCode() {
      this.$refs.messageForm.validate("phone").then(
        res => {
          phoneCode(this.messageForm.phone).then(res => {
            if (res && res.data) this.messageForm.phoneCaptcha = res.data;
          });
          if (this.countDownTime === this.timeNum) {
            this.installSetInterval();
            this.codeText = this.countDownTime + "s";
            this.disabledGetCode = true;
          } else {
            this.codeText = "重新获取验证码";
            this.disabledGetCode = false;
          }
        },
        err => {
          console.log(err);
        }
      );
    },
    // 设置定时器
    installSetInterval() {
      const that = this;
      that.timer = setInterval(function() {
        that.countDownTime--;
        if (that.countDownTime < 2) {
          clearInterval(that.timer);
          that.codeText = "重新获取验证码";
          that.disabledGetCode = false;
          that.countDownTime = that.timeNum;
        } else {
          that.codeText = that.countDownTime + "s";
          that.disabledGetCode = true;
        }
      }, 1000);
    },
    // 用户名密码登录
    handleLogin() {
      this.$refs.idForm.validate().then(
        res => {
          this.loading = true;
          this.$store
            .dispatch("user/login", this.idForm)
            .then(() => {
              this.$router.push({
                path: this.redirect || "/",
                query: this.otherQuery
              });
              this.loading = false;
            })
            .catch(() => {
              this.loading = false;
            });
        },
        err => {
          console.log(err);
          return false;
        }
      );
    },
    // 手机号登录
    handleMessageLogin() {
      this.$refs.messageForm.validate().then(
        res => {
          this.mesLoading = true;
          this.$store
            .dispatch("user/login", {
              ...this.messageForm,
              loginType: "telephone"
            })
            .then(() => {
              this.$router.push({
                path: this.redirect || "/",
                query: this.otherQuery
              });
              this.mesLoading = false;
            })
            .catch(() => {
              this.mesLoading = false;
            });
        },
        err => {
          console.log(err);
          return false;
        }
      );
    },
    // 获取微信授权信息
    getWxInfo() {
      return getWxInfo().then(res => {
        this.appInfo = res;
      });
    },
    // 生成微信登录二维码
    generateQrCode() {
      const { appId, redirectUri, scope, state } = this.appInfo;
      let redirectUrl;
      if (location.hash.split("?")[1]) {
        redirectUrl = `${redirectUri}?${decodeURIComponent(
          location.hash.split("?")[1]
        )}`;
      } else {
        redirectUrl = redirectUri;
      }
      const that = this;
      // 利用blob FileReader将样式转成base64赋值给href ,因为本地引入css不可用
      const style =
        ".impowerBox .qrcode {width: 200px}.impowerBox .title {display: none;}.impowerBox .info {width: 200px;}.impowerBox .status {text-align: center;} ";
      const blob = new Blob([style], { type: "text/css;charset=utf-8" });
      const reader = new FileReader();
      reader.readAsDataURL(blob);
      reader.onload = function() {
        if (window.WxLogin) {
          /* eslint-disable */
          new WxLogin({
            self_redirect: false,
            id: "login_container",
            appid: appId,
            scope,
            redirect_uri: encodeURIComponent(redirectUrl),
            state,
            style: "",
            href: this.result
          });
        } else {
          setTimeout(that.generateQrCode, 500);
        }
      };
    },
    // 微信登录
    async handleWxLogin() {
      if (!window.WxLogin) {
        const addScript = document.createElement("script");
        addScript.type = "text/javascript";
        addScript.src =
          "http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js";
        document.body.appendChild(addScript);
      }
      this.loginType = "wx";
      await this.getWxInfo();
      this.generateQrCode();
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    }
  }
};
</script>
   
<style lang='scss' scoped>
.wrapper {
  width: 100%;
  height: 100vh;
  background: url(../assets/image/bg.png) no-repeat 100% / cover;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 250px;
}
.login {
  width: 630px;
  max-height: 750px;
  border-radius: 5px;
  box-shadow: 0px 11px 10px;
  background-color: #ffffff;
  margin: auto;
  padding: 40px 40px 30px;
}
.type {
  font-size: 26px;
  color: #666666;
  display: flex;
  width: 500px;
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  span {
    cursor: pointer;
  }
}
.wx-wrapper {
  width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-type {
  font-size: 30px;
  color: #333333;
}
.cut-off {
  width: 1px;
  height: 16px;
  background-color: #e0e0e0;
  vertical-align: middle;
}
.other {
  color: $theme-color;
}
.base {
  margin-top: 40px;
  font-size: 26px;
  
}
.login-button {
  width: 510px;
  height: 86px;
  border-radius: 1px;
  margin: 35px auto;
  display: block;
  font-size: 24px;
}

.code-but {
  font-size: 26px;
  height: 50px;
}
</style>
   