<template>
  <div class="register-warpper">
    <div class="title">
      <van-icon name="arrow-left" class="el-icon-arrow-left" @click="goBack" />
      <span>{{role===global.role_teacher?"老师注册":"学生注册"}}</span>
    </div>
    <van-field v-model="user.name" placeholder="姓名" class="info-input" />
    <van-field
      v-model="userExtension.sno"
      placeholder="学号"
      class="info-input"
      v-if="role===global.role_student"
    />
    <van-field
      v-if="role===global.role_student"
      readonly
      clickable
      :value="userExtension.grade"
      placeholder="入学年份"
      class="info-input"
      @click="showGradePicker = true"
    />
    <van-popup v-model="showGradePicker" round position="bottom">
      <van-picker
        value-key="label"
        show-toolbar
        :columns="gradeOptions"
        @cancel="showGradePicker = false"
        @confirm="handleConfirmGrade"
      />
    </van-popup>
    <van-field
      readonly
      clickable
      :value="userExtension.college"
      placeholder="选择院系"
      class="info-input"
      @click="showCollegePicker = true"
    />
    <van-popup v-model="showCollegePicker" round position="bottom">
      <van-picker
        show-toolbar
        value-key="name"
        :columns="collegeOptions"
        @cancel="showCollegePicker = false"
        @confirm="handleConfirmCollege"
      />
    </van-popup>

    <van-field
      readonly
      clickable
      :value="userExtension.profession"
      placeholder="选择专业"
      class="info-input"
      @click="showProfessionPicker = true"
      v-if="role===global.role_student"
    />
    <van-popup v-model="showProfessionPicker" round position="bottom">
      <van-picker
        show-toolbar
        value-key="name"
        :columns="professionOptions"
        @cancel="showProfessionPicker = false"
        @confirm="handleConfirmProfession"
      />
    </van-popup>
    <van-button class="login-button" type="primary" :loading="loading" @click="handleLogin">登录</van-button>
  </div>
</template>

<script>
import moment from "moment";
import {
  modificationInfo,
  getCollegeList,
  getProfessionList
} from "@/api/user";

export default {
  name: "",
  props: { role: String },
  data() {
    return {
      user: { name: null },
      userExtension: {
        sno: null,
        collegeId: null,
        professionId: null,
        grade: null
      },
      redirect: null,
      otherQuery: null,
      loading: false,
      gradeOptions: [],
      collegeOptions: [],
      professionOptions: [],
      showGradePicker: false,
      showCollegePicker: false,
      showProfessionPicker: false
    };
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true
    }
  },
  mounted() {
    this.getGradeList();
    this.getCollegeList();
  },
  methods: {
    goBack() {
      this.$store
        .dispatch("user/resetToken")
        .then(() => this.$router.push("/login"));
    },
    handleLogin() {
      if (this.role === this.global.role_student) {
        if (!/^[0-9]*$/g.test(this.userExtension.sno)) {
          this.$notify("学号只支持数字");
          return;
        }
        if (
          !this.user.name ||
          !this.userExtension.sno ||
          !this.userExtension.collegeId ||
          !this.userExtension.professionId ||
          !this.userExtension.grade
        ) {
          this.$notify("请填写完整信息");
          return;
        }
      } else {
        if (!this.user.name || !this.userExtension.collegeId) {
          this.$notify("请填写完整信息");
          return;
        }
      }

      this.loading = true;
      let college, profession;
      this.collegeOptions.forEach(v => {
        if (v.id === this.userExtension.collegeId) {
          college = v.name;
        }
      });
      this.professionOptions.forEach(v => {
        if (v.id === this.userExtension.professionId) {
          profession = v.name;
        }
      });
      modificationInfo(
        {
          ...this.user,
          roleKeys: [this.role]
        },
        {
          ...this.userExtension,
          school: "鲁东大学",
          schoolId: 1,
          college,
          profession
        }
      )
        .then(() => {
          this.$router.push({
            path: this.redirect || "/",
            query: this.otherQuery
          });
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
    getGradeList() {
      const currentYear = moment().format("YYYY");
      const gradeOptions = Array.from({ length: 4 }, (x, index) => {
        const item = {};
        item.value = +currentYear - 3 + index;
        item.label = `${+currentYear - 3 + index}年`;
        return item;
      });
      this.gradeOptions = gradeOptions;
    },
    getCollegeList() {
      // 1 鲁东大学
      getCollegeList(1).then(res => (this.collegeOptions = res.data));
    },
    getProfessionList(collegeId) {
      // 1 鲁东大学
      getProfessionList(collegeId).then(
        res => (this.professionOptions = res.data)
      );
    },
    changeCollegeId(collegeId) {
      if (this.role !== this.global.role_student) {
        return;
      }
      this.userExtension.professionId = null;
      this.userExtension.profession = null;
      this.professionOptions = [];
      this.getProfessionList(collegeId);
    },
    handleConfirmGrade(v, i) {
      this.userExtension.grade = v.value;
      this.showGradePicker = false;
    },
    handleConfirmCollege(v, i) {
      this.changeCollegeId(v.id);
      this.userExtension.collegeId = v.id;
      this.userExtension.college = v.name;
      this.showCollegePicker = false;
    },
    handleConfirmProfession(v, i) {
      this.userExtension.professionId = v.id;
      this.userExtension.profession = v.name;
      this.showProfessionPicker = false;
    }
  }
};
</script>

<style lang='scss' scoped>
.register-warpper {
  width: 560px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  padding: 48px 65px;
  font-size: 36px;
  color: #333333;
  text-align: center;
  position: relative;
}
.title {
  font-size: 36px;
  line-height: 36px;
  color: #333333;
}
.el-icon-arrow-left {
  position: absolute;
  top: 50px;
  left: 33px;
}
.login-button {
  width: 430px;
  height: 56px;
}
</style>
