<template>
  <div ref="editor" style="text-align:left">
    <input
      v-if="!editorContent&&showPlaceholder"
      :placeholder="defaultText"
      class="placeholder-style"
      @focus="showPlaceholder=false"
    />
    <p v-html="initContent"></p>
  </div>
</template>


<script>
import E from "wangeditor";
import "@/assets/js/wangEditor/custom-menu";

export default {
  name: "TextEditor",
  props: {
    // 富文本初始值
    initContent: {
      type: String,
      default: ""
    },
    //placeholder文本值
    defaultText: {
      type: String,
      default: "请输入内容"
    }
  },
  data() {
    return {
      showPlaceholder: true,
      editor: "",
      editorContent: "",
      editorText: "",
      fileList: []
    };
  },
  mounted() {
    this.initEditor();
  },
  watch: {
    editorContent(newV, oldV) {
      const content = this.editorContent;
      const regexImg = /<img.*?src="(.*?)".*?\/?>/gi;
      const regexIframe = /<iframe(([\s\S])*?)<\/iframe>/gi;
      if (
        !this.editorText &&
        !regexImg.test(content) &&
        !regexIframe.test(content)
      ) {
        this.editorContent = "";
      }
    }
  },
  methods: {
    initEditor() {
      const inputImg = /<input.*?\/?>/gi;
      E.config.printLog = false;
      this.editor = new E(this.$refs.editor);
      this.editor.config.menus = [
        "source",
        "|",
        "lineheight",
        "indent",
        "bold",
        "underline",
        "italic",
        "strikethrough",
        "eraser",
        "forecolor",
        "bgcolor",
        "|",
        "quote",
        "fontfamily",
        "fontsize",
        "head",
        "unorderlist",
        "orderlist",
        "alignleft",
        "aligncenter",
        "alignright",
        "|",
        "link",
        "unlink",
        // "table",
        "emotion",
        "|",
        "img",
        "video",
        "symbol",
        "insertcode",
        "|",
        "undo",
        "redo",
        "fullscreen"
      ];
      this.editor.config.uploadImgUrl = "/api/v1/image/base64";
      this.editor.config.uploadHeaders = {
        Authorization: this.$store.getters.token
      };

      // 自定义load事件 （后台存储）
      this.editor.config.uploadImgFns.onload = function(resultText, xhr) {
        //修复初始化后插入图片失效，勿删
        this.$txt.context.click();

        // resultText 服务器端返回的text
        // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        // 上传图片时，已经将图片的名字存在 editor.uploadImgOriginalName
        const originalName = this.uploadImgOriginalName || "";
        this.command(
          null,
          "insertHtml",
          '<img src="' +
            JSON.parse(resultText) +
            '" alt="' +
            originalName +
            '" style="max-width:60%;"/>'
        );
      };

      // 自定义timeout事件
      this.editor.config.uploadImgFns.ontimeout = function(xhr) {
        // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        alert("上传超时");
      };

      // 自定义error事件
      this.editor.config.uploadImgFns.onerror = function(xhr) {
        // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
        alert("上传错误");
      };
      this.editor.onchange = () => {
        this.editorContent = this.editor.$txt.html().replace(inputImg, "");
        this.editorText = this.editor.$txt.text();
      };

      this.editor.create();
      this.editor.$txt.blur();
      this.editor.$txt.context.onfocus = () => {
        this.showPlaceholder = false;
      };
      this.editor.$txt.context.onblur = () => {
        this.showPlaceholder = true;
      };
      this.editorContent = this.editor.$txt.html().replace(inputImg, "");
      this.editorText = this.editor.$txt.text();
    },
    clearEditor() {
      this.editor.clear();
    }
  }
};
</script>

<style lang="scss" scoped>
.editor {
  /deep/ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  /deep/ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
.placeholder-style {
  border: none;
  background: #fff;
  outline: none;
  width: 100%;
  color: #aaa;
  margin: 10px 0 4px 4px;
  font-size: 16px;
}
.placeholder-style::placeholder {
  color: #aaa;
}
// [contenteditable="true"]:empty:before,
// div[placeholder]:empty:before {
//   content: attr(placeholder);
//   display: block;
//   color: #aaa;
//   outline: 0;
//   line-height: 1.8;
// }
</style>
