<template>
  <div class="app">
    <router-view />
  </div>
</template>


<script>
export default {
  name: "App",
};
</script>
<style lang="scss" scoped>
.app {
  overflow-y: hidden;
  overflow-x: auto;
}
</style>

<style lang="scss">
*,
dd,
dl,
dt,
html,
li,
ul {
  padding: 0;
  margin: 0;
}
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
* {
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  vertical-align: middle;
}
</style>
